In [12]:
import pandas as pd

In [13]:
# check the input file should be csv file
def is_csv(filename):
    try:
        # try to read csv file
        pd.read_csv(filename)
        return True
    except(Exception):
        print("Input file is not csv or doesn't exist such csv")
        return False

In [14]:
is_csv("Qwer")

Input file is not csv or doesn't exist such csv

False

In [5]:
# is it unicode? Yes, In python3, all string are unicode by default

In [6]:
# you can replace "test_error_demo.csv" with any file you want to test
df = pd.read_csv("test_error_demo.csv")

# find every rows that all Associated Twitter Handle is incorrect
df.loc[~(df["Associated Twitter Handle"].isnull() | df["Associated Twitter Handle"].str.startswith('@'))]

,Source,RSS feed URLs (where available),Type,Tags,Associated Twitter Handle,Associated Publisher,Name,Text aliases
4,http://debka.co.il/,NaN,News Source,Israeli|Hebrew|Hawkish|Security,debka_hebrew,Debka File,Debka File - Hebrew,Debka File

In [7]:
# find every rows that all Associated Twitter Handle is incorrect and print the row number
def check_ATH():
    return(df.loc[~(df["Associated Twitter Handle"].isnull() | df["Associated Twitter Handle"].str.startswith('@'))].index)


check_ATH()

Int64Index([4], dtype='int64')

In [8]:
# find every rows that Type is not "News Source" or "Twitter Handle"
df.loc[~((df["Type"] == "Twitter Handle") | (df["Type"] == "News Source"))]

,Source,RSS feed URLs (where available),Type,Tags,Associated Twitter Handle,Associated Publisher,Name,Text aliases
5,@Ali_Mustafa,NaN,Tter Handle,Twitter Journalists,NaN,NaN,Ali Mustafa,Ali Mustafa
6,http://jpost.com/,NaN,New Source,Israeli|English|Centrist|Current-Affairs,@Jerusalem_Post|@JPostOpinion,Jerusalem Post,Jerusalem Post,Jerusalem Post|Jpost

In [9]:
# find every rows that Type is not "News Source" or "Twitter Handle" and print its row number
def check_Type():
    return(df.loc[~((df["Type"] == "Twitter Handle") | (df["Type"] == "News Source"))].index)


check_Type()

Int64Index([5, 6], dtype='int64')

In [10]:
# find the source is incorrect format
df.loc[~((df["Source"].str.startswith('@') | (df["Source"].str.contains("http://|https://"))))]

,Source,RSS feed URLs (where available),Type,Tags,Associated Twitter Handle,Associated Publisher,Name,Text aliases
1,hltp://calcalist.co.il/,NaN,News Source,Israeli|Hebrew|Financial,@calcalist,Yediot,Calcalist,Calcalist
3,Elizrael,NaN,Twitter Handle,Twitter Journalists,NaN,NaN,Elizabeth Tsurkov,Elizabeth Tsurkov

In [11]:
# find the source is incorrect format and return index
def check_Source():
    print(df.loc[~((df["Source"].str.startswith('@') | (df["Source"].str.contains("http://|https://"))))].index)

check_Source()

Int64Index([1, 3], dtype='int64')